body {
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

*
{
    font-family: "Calibri"
}

.float_left{
    float: left;
    clear: both;
}

.float_right{
    float: right;
    clear: both;
}

.stretcher {
    clear: both;
}

#Banner{
    text-align: center;
    vertical-align: middle;
    background-size: cover;
    position: relative;
}

#Banner *
{
    padding: 0;
    margin: 0;
}


#Choir_name {
    display: block;
}

#Banner #Background{
    z-index: 0;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
}

#Banner #Logo
{
    position: relative;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

#Banner #Logo img
{
    width: 30%;
    margin: 10px auto;
}

#Navigation {
    height: 30px;
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 100;
}

#Navigation * {
    z-index: 100;
    max-height: 30px;
}

#Navigation ul, #Navigation li {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#Navigation > ul
{
    width: 100%;
    height: 30px;
    line-height: 200%;
    margin: 0 auto;
    display: inline-block;
}

#Navigation > ul > li
{
    float: left;
}

#Navigation > ul > li > ul
{
    display: none;
}

#Navigation > ul > li:hover > ul{
    display: block;
}

#Navigation a {
    width: 130px;
    display: block;
    text-decoration: none;
}

#Navigation a:hover
{
}

#Content {
    margin: 30px auto auto auto;
    width: 100%;
}

#Content > * {
    width: 100%;
    margin: 0px auto;
}

#Sections img {
    width: 30%;
    margin: 10px;
}

#Sections h1
{
    clear: both;
    text-align: center;
    font-size: 64px;
}

#Sections > div {
    padding: 10px 30px;
}

#Sections > div:nth-child(odd) {
}

#Sections > div:nth-child(even) {
}

.SectionContent
{
    margin: 0px auto;
    width: 1220px;
}

#Footer
{
    text-align: center;
    font-size: 16px;
    background-color: #041C24;
    color: #75A58F;
}

#Footer *
{
    vertical-align: middle;
}

#Footer > div
{
    padding-top: 1em;
    display: inline-block;
    /* line-height: 1.5em; */
    /* border: solid 1px green; */
}

#Footer img
{
    height: 6em;
}
