<div id="Choir">
<div class="SectionContent">
<img class="float_left" src="images/choir_jump_small.jpg"/>
<p>
Chór Kameralny Piu Mosso działa od 2012, czynnie koncertując i stale poszerzając swój repertuar. <a href="choir#About">Dowiedz się o nas więcej</a>.
</p>
<p>
Dyrygentem Chóru, a także jego założycielem, jest Dominik Jarocki - absolwent wrocławskiej Akademii Muzycznej. <a href="choir#Conductor">Czytaj dalej</a>.
</p>
<p>
Piu Mosso tworzy grupa młodych ludzi, których pasją jest muzyka i chcą się nią dzielić z innymi. <a href="choir#ChoirMembers">Dowiedz się o nas więcej</a>.
</p>
<div class="stretcher"></div>
</div>
</div>
