<div id="Sections">
<div id="About">
<h1>O Nas</h1>
<img class="float_left" src="images/choir_jump_small.jpg"/>
<p>Chór Kameralny Piú Mosso (wcześniej Zespół Wokalny Piú Mosso) działa od 2012 roku.
Tworzony przez młodych ludzi, których łączy wspólne zamiłowanie do śpiewania i
wieloletnia znajomość. Chór wykonuje głównie pieśni sakralne z różnych epok, muzykę
dawną, można jednak również usłyszeć współczesne kompozycje, a także różnego rodzaju
aranżacje znanych utworów. Zespół działa pod kierownictwem Dominika Jarockiego.
</p>
<p>
Chór koncertuje na całym Dolnym Śląsku m.in. podczas Wystawy Barbary Górniak
“Kościoły Pokoju na Dolnym Śląsku” w Bogatyni, Wrocławiu (Leśnicy) i Dusznikach
Zdroju, w ramach XXIV Festiwalu “Maj z muzyką dawną” we Wrocławiu, a także poza
granicami Polski m.in. podczas Tygodnia Kultury Chrześcijańskiej we Lwowie na Ukrainie.
W roku 2017 zespół miał okazję uczestniczyć w I Wambierzyckich Spotkaniach Muzycznych
im. Ignaza Reimanna oraz w 44 Festiwalu Barbórkowym Chórów Akademickich we
Wrocławiu.
</p>
<div class="stretcher"></div>
</div>

<div id="Achievements">
<h1>Osiągnięcia</h1>
<p>
Chór jest laureatem:
<ul>
<li>
II miejsca XXII Międzynarodowego Festiwalu Kolęd i Pastorałek im. Ks. Kazimierza Szwarlika w Będzinie
</li>
<li>
I miejsca w XII Diecezjalnym Festiwalu Kolęd i Pastorałek w Bolkowie.
</li>
<li>
Brązowego Dyplomu na Ogólnopolskim Festiwalu Współczesnej Muzyki Chóralnej Music Everywhere w Gdańsku
</li>
<li>
Srebrnego Dyplomu na XII Międzynarodowym Festiwalu im. H. M. Góreckiego “Rybnicka Jesień Chóralna”
</li>
<li>
Grand Prix na Międzynarodowym Festiwalu Pieśni Maryjnej Koziegłowy-Częstochowa
</li>
<li>
Srebrnego Dyplomu na VIII Międzynarodowym Festiwalu i Konkursie Chóralnym “Kaunas Cantat” na Litwie
</li>
<li>
Złotego Pasma oraz Nagrody Specjalnej za walory brzmieniowe na XIV Ogólnopolskim Konkursie Kolęd i Pastorałek w Chełmnie
</li>
<li>
I miejsce na VII Konkursie Pieśni Chóralnej im. Czesława Prudla w Lyskach
</li>
</ul>
</p>
</div>

<div id="Conductor">
<h1>Dyrygent</h1>
<p><strong>Dominik Jarocki​</strong></p>
<img class="float_left" src="images/dominik_jarocki_black.jpg"/>
<img class="float_right" src="images/dominik_jarocki_from_event.jpg"/>
<p>
Absolwent Akademii Muzycznej im. Karola Lipińskiego na Wydziale Edukacji Muzycznej, Chóralistyki i Muzyki Kościelnej, w klasie dyrygowania dr hab. Agnieszki Franków-Żelazny, prof. nadzw.
</p>
<p>
Stypendysta Burmistrza Miasta Kłodzka, Wójta Gminy Kłodzko oraz Rektora Akademii Muzycznej we Wrocławiu za wybitne osiągnięcia artystyczne.
</p>
<p>
Dyrygent, założonego przez siebie w roku 2012, Chóru Kameralnego Piu Mosso, z którym występuje na różnych festiwalach, koncertach i konkursach chóralnych w Polsce zdobywając liczne nagrody.
</p>
<p>
Od stycznia 2017 roku, dyrygent Chóru Liceum Ogólnokształcącego nr XVII im. Agnieszki Osieckiej we Wrocławiu.
</p>
<p>
Laureat nagrody dla najlepszego dyrygenta XIV Ogólnopolskiego Konkursu Kolęd i Pastorałek w Chełmnie w roku 2019, II nagrody w VI Wydziałowym Konkursie na najlepszą metodę pracy z chórem dziecięcym w roku 2017, Dolnośląskiej Ligi Talentów oraz nagrody Leonardo za wybitne osiągnięcia.
</p>
<p>
Brał udział jako solista w różnych projektach muzycznych m.in. “Mszy Kreolskiej” Ariela Ramireza w Kłodzku oraz Oratorium “Siedem Ostatnich Słów Chrystusa na Krzyżu” Józefa Haydna we Wrocławiu i Wałbrzychu.
</p>
<p>
Bierze udział w licznych warsztatach wokalnych m.in. nowoczesnej metody improwizacji wielogłosowej - CircleSong, prowadzonych przez Rogera Treece’a w Olsztynie czy w Polskim Narodowym Chórze Młodzieżowym w ramach projektu Akademia Chóralna NFM.
</p>
<div class="stretcher"></div>
</div>

<div id="ChoirMembers">
<h1>Chórzyści</h1>
<p>
SOPRANY:
<ol>
<li>
Aleksandra
</li>
<li>
Dominika
</li>
<li>
Wiktoria
</li>
<li>
Marta
</li>
<li>
Milena
</li>
<li>
Zofia
</li>
<li>
Magdalena
</li>
<li>
Dorota
</li>
<li>
Renata
</li>
</ol>
</p>
<p>
ALTY:
<ol>
<li>
Justyna
</li>
<li>
Natalia
</li>
<li>
Julianna
</li>
<li>
Konstancja
</li>
<li>
Aleksandra
</li>
</ol>
</p>
<p>
TENORY:
<ol>
<li>
Karol
</li>
<li>
Michał
</li>
<li>
Maciej
</li>
</ol>
</p>
<p>
BASY:
<ol>
<li>
Mateusz
</li>
<li>
Michał
</li>
<li>
Przemysław
</li>
</ol>
</p>
</div>

</div>
